In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
"""
# My first app
Here's our first attempt at using data to create a table:
"""
df = pd.DataFrame({
  'first column': [1, 2, 3, 4],
  'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

In [23]:
ted_title_dict = {
    'all': 'these 3 years',
    'highest_edu_lv': 'Highest Level of Education',
    'region': 'Region',
}

In [ ]:
ted_title_dict[]